html {
    scroll-behavior: smooth; /* Enables smooth scrolling for anchor links */
}

#home {
    scroll-margin-top: 40px; /* Adjust based on your navbar height */
}

#projects {
    scroll-margin-top: 0px; /* Adjust based on your navbar height */
}

#resume {
    scroll-margin-top: 0px; /* Adjust based on your navbar height */
}

#about {
    scroll-margin-top: 0px; /* Adjust based on your navbar height */
}

#getintouch {
    scroll-margin-top: 0px; /* Adjust based on your navbar height */
}
